@model IEnumerable<OddJob.Datal.Job>
   
<h2></h2>
<h3></h3>

<p>oDD jOBB started serving out youth and communities in 2021. We take great pride in our service to the community, and the betterment of our youth contractors.</p>
