@model IEnumerable<OddJob.Datal.Job>
   

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Odd Job Blvd.<br />
    Westfield, IN 46074<br />
    <abbr>Phone</abbr>
    317.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@oDDjOBB.co">Support@oDDjOBB.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@oDDjOBB.co">Marketing@oDDjOBB.com</a>
</address>